npm==0.1.1
sanic==21.9.3
black==21.10b0
dominate==2.6.0
uvicorn==0.17.4
fastapi==0.73.0
idom==0.36.2
numpy==1.17.4
pandas==0.25.3
pydantic==1.8.2
pytest==5.0.0
SQLAlchemy==1.4.23
sqlalchemy2-stubs==0.0.2a15
sqlmodel==0.0.6
watchdog==2.1.6
idom==0.36.2
watchdog==2.1.6
Sanic-Cors==2.0.1
xlrd==1.2.0
pytest-order==1.0.1